
{% extends './layout.html' %}
{% block title %}
    <title>归档 - 喵大仙</title>
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="entry-main">
            <h1 class="entry-header">归档</h1>
            <div class="clearfix">
                <div class="archive">
                    <h3 class="archive-month">
                        <span>2015年 01月</span>
                        <span></span>
                    </h3>
                    <ul class="archive-date">
                        <li>
                            <span>01日</span>
                            <a href="#">程序猿的小说</a>
                        </li>
                    </ul>
                </div>
                <div class="archive-nav">
                    <dl class="nav-map">
                        <dt>Map</dt>
                        
                        <dd>
                            <ul>
                                <li class="year">2015年</li>
                                <li class="month">8月</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
		
{% block js %}
    <script data-main="index/index" src="/public/common/main.js"></script>
{% endblock %}