
{% extends './layout.html' %}
{% block title %}
    <title>归档 - 喵大仙</title>
{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="entry-main">
            <h1 class="entry-header">归档</h1>
            <div class="clearfix">
                {% set year='' %}
                {% set month='' %}
                {% set date='' %}
                <div class="archive-nav">
                    <dl class="nav-map">
                        <dt>Map</dt>
                        <dd>
                            {% for article in articles %}
                                {% if year!=article.time.getFullYear() %}
                                    {% set year=article.time.getFullYear() %}
                                    <ul>
                                        <li class="year">{{article.time.getFullYear()}}年</li>
                                        {% for article in articles %}
                                            {% if year==article.time.getFullYear()&&month!=article.time.getMonth()+1 %}
                                                {% set month=article.time.getMonth()+1 %}
                                                <li class="month"><a href="#{{article.time.getFullYear()}}{{article.time.getMonth()+1}}">{{article.time.getMonth()+1}}月</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </dd>
                    </dl>
                </div>
                <div class="archive">
                    {% for article in articles %}
                        {% if year!=article.time.getFullYear()||month!=article.time.getMonth()+1 %}
                            {% set month=article.time.getMonth()+1 %}
                            {% set year=article.time.getFullYear() %}
                            <h3 class="archive-month">
                                <span id="{{article.time.getFullYear()}}{{article.time.getMonth()+1}}">{{article.time.getFullYear()}}年 {{article.time.getMonth()+1}}月</span>
                                <span></span>
                            </h3>
                            <ul class="archive-date">
                                {% for article in articles %}
                                    {% if year==article.time.getFullYear()&&month==article.time.getMonth()+1 %}
                                        <li>
                                            <span>{{article.time.getDate()}}日</span>
                                            <a href="/article/detail/{{article.id}}">{{article.title}}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
		
{% block js %}
    <script data-main="index/index" src="/public/common/main.js"></script>
{% endblock %}